<section class="empty-state" role="status" aria-labelledby="empty-title">
  @switch (icon()) {
    @case ('search') {
      <app-search-icon class="empty-icon" [width]="64" [height]="64"  color="currentColor" />
    }
    @case ('heart') {
      <app-heart-icon class="empty-icon" [width]="64" [height]="64"  color="currentColor"  [filled]="false" />
    }
    @case ('box') {
      <app-table-icon class="empty-icon" [width]="64" [height]="64"  color="currentColor" />
    }
    @case ('cart') {
      <app-cart-icon class="empty-icon" [width]="64" [height]="64"  color="currentColor"  [filled]="false" />
    }
    @default {
      <app-info-circle-icon class="empty-icon" [width]="64" [height]="64"  color="currentColor" />
    }
  }

  <p class="empty-title">
    {{ title() }}
  </p>

  @if (description()) {
    <p class="empty-description">
      {{ description() }}
    </p>
  }

  <ng-content />
</section>
