<div class="step-container">
  <div class="step-header">
    <h1 class="step-title">Delivery Method</h1>
    <p class="step-description">Choose how fast you want your order</p>
  </div>

  <app-options 
    [initialData]="initialData()" 
    [submitTrigger]="submitTrigger()"
    (optionSelected)="handleOptionSelected($event)" 
    (formValidity)="handleValidilityChange($event)"/>

  <app-footer
    backLabel="Back to Shipping"
    forwardLabel="Continue to Payment"
    [forwardDisabled]="!isFormValid()"
    [isSubmitting]="isSubmitting()"
    (backClick)="handleBack()"
    (forwardClick)="handleContinue()" />
</div>